

{% extends 'base.html' %}

{% block body %}


<br>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Edit loan details </h3>
      <br>

      <form action="/save_edits" method="POST" class="form-horizontal">
        <input type="hidden" value="{{ loan_data.Loan_ID }}" name="Loan_ID" >
        <div class="form-group">
          <labe for="">Gender</labe>
          <select class="form-control" name="Gender" id="Gender">
            <option style="background:gray" value="{{ loan_data.Gender }}" selected > {{ loan_data.Gender }} </option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>
        <br>

        <div class="form-group">
          <labe for="">Married</labe>
          <select class="form-control" name="Married" id="Married">
            <option style="background:gray" value="{{ loan_data.Married }}" selected > {{ loan_data.Married }} </option>
            <option value="No">No</option>
            <option value="Yes">Yes</option>
          </select>
        </div>
        <br>


        <div class="form-group">
          <labe for="">Dependents</labe>
          <select class="form-control" name="Dependents" id="Dependents">
            <option style="background:gray" value="{{ loan_data.Dependents }}" selected > {{ loan_data.Dependents }} </option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3+">3+</option>
        </select>
        </div>
        <br>


        <div class="form-group">
          <labe for="">Education</labe>
          <select class="form-control" name="Education" id="Education">
            <option style="background:gray" value="{{ loan_data.Education }}" selected > {{ loan_data.Education }} </option>
            <option value="Not Graduate">Not Graduate</option>
            <option value="Graduate">Graduate</option>
          </select>
        </div>
        <br>


        <div class="form-group">
          <labe for="">Self-Employed</labe>
          <select class="form-control" name="Self_Employed" id="Self_Employed">
            <option style="background:gray" value="{{ loan_data.Self_Employed }}" selected > {{ loan_data.Self_Employed }} </option>
            <option value="No">No</option>
            <option value="Yes">Yes</option>
          </select>
        </div>
        <br>

        <div class="form-group">
          <labe for="">Applicant Income</labe>
          <input class="form-control" type="number" name="ApplicantIncome" id="ApplicantIncome" value="{{loan_data.ApplicantIncome}}">
        </div>
        <br>


        <div class="form-group">
          <labe for="">Coapplicant Income</labe>
          <input class="form-control" type="number" name="CoapplicantIncome" id="CoapplicantIncome" value="{{loan_data.CoapplicantIncome}}">
        </div>
        <br>


        <div class="form-group">
          <labe for="">Loan Amount</labe>
          <input class="form-control" type="number" name="LoanAmount" id="LoanAmount" value="{{loan_data.LoanAmount}}">
        </div>
        <br>


        <div class="form-group">
          <labe for="">Loan Amount Term</labe>
          <input class="form-control" type="number" name="Loan_Amount_Term" id="Loan_Amount_Term" value="{{loan_data.Loan_Amount_Term}}">
        </div>
        <br>

        <div class="form-group">
          <labe for="">Credit History</labe>
          <select class="form-control" name="Credit_History" id="Credit_History">
            <option style="background:gray" value="{{ loan_data.Credit_History }}" selected > {{ loan_data.Credit_History }} </option>
            <option value="No">No</option>
            <option value="Yes">Yes</option>
          </select>
        </div>
        <br>


        <div class="form-group">
          <labe for="">Property Area</labe>
          <select class="form-control" name="Property_Area" id="Property_Area">
            <option style="background:gray" value="{{ loan_data.Property_Area }}" selected > {{ loan_data.Property_Area }} </option>
            <option value="Rural">Rural</option>
            <option value="Semiurban">Semiurban</option>
            <option value="Urban">Urban</option>
          </select>
        </div>

        <br>
        <br>
        <br>

        <div class="form-group">
          <labe for="" ><b>Approve request</b></labe>
          <select class="form-control" name="Loan_Status" id="Loan_Status">
            <option style="background:gray" value="0" selected > <b>Loan request decision</b> </option>
            <option value="No">No</option>
            <option value="Yes">Yes</option>
          </select>
        </div>


        <br>
        <br>

        <input class="btn btn-danger" type="submit" value="Save Edits" id="">
      </form>


    </div>
  </div>


</div>
<br>
<br>


{% endblock %}