

{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}


{% block body %}

<br>

<div class="container ">
    <div class="row">
        <div class="col-md-6">
            <h3>Provide loan details </h3>
            <br>

            <form action="/verifyloanrequest" method="POST" class="form-horizontal" >


                <div class="row">
                    <div>
                        <div class="card-body">
                            <div class="form-group mb-1">
                                <labe for=""><b>Gender</b></labe>
                                <select class="form-control" name="Gender" id="Gender">
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                        </div>


                        <div class="card-body">
                            <div class="form-group mb-1">
                                <labe for=""><b>Married</b></labe>
                                <select class="form-control" name="Married" id="Married">
                                    <option value="No">No</option>
                                    <option value="Yes">Yes</option>
                                </select>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="form-group mb-1">
                                <labe for=""><b>Dependents</b></labe>
                                <select class="form-control" name="Dependents" id="Dependents">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3+">3+</option>
                                </select>
                            </div>
                        </div>


                        <div class="card-body">
                            <div class="form-group mb-1">
                                <labe for=""><b>Education</b></labe>
                                <select class="form-control" name="Education" id="Education">
                                    <option value="Not Graduate">Not Graduate</option>
                                    <option value="Graduate">Graduate</option>
                                </select>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="form-group mb-1">
                                <labe for=""><b>Self-Employed</b></labe>
                                <select class="form-control" name="Self_Employed" id="Self_Employed">
                                    <option value="No">No</option>
                                    <option value="Yes">Yes</option>
                                </select>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="form-group mb-1">
                                <labe for=""><b>Applicant Income</b></labe>
                                <input class="form-control" type="number" name="ApplicantIncome" id="ApplicantIncome">
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="form-group mb-1">
                                <labe for=""><b>Coapplicant Income</b></labe>
                                <input class="form-control" type="number" name="CoapplicantIncome" id="CoapplicantIncome">
                            </div>
                        </div>


                        <div class="card-body">
                            <div class="form-group mb-1">
                                <labe for=""><b>Loan Amount</b></labe>
                                <input class="form-control" type="number" name="LoanAmount" id="LoanAmount">
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="form-group mb-1">
                                <labe for=""><b>Loan Amount Term</b></labe>
                                <input class="form-control" type="number" name="Loan_Amount_Term" id="Loan_Amount_Term">
                            </div>
                        </div>


                        <div class="card-body">
                            <div class="form-group mb-1">
                                <labe for=""><b>Credit History</b></labe>
                                <select class="form-control" name="Credit_History" id="Credit_History">
                                    <option value="No">No</option>
                                    <option value="Yes">Yes</option>
                                </select>
                            </div>
                        </div>


                        <div class="card-body">
                            <div class="form-group mb-1">
                                <labe for="" c><b>Property Area</b></labe>
                                <select class="form-control" name="Property_Area" id="Property_Area">
                                    <option value="Rural">Rural</option>
                                    <option value="Semiurban">Semiurban</option>
                                    <option value="Urban">Urban</option>
                                </select>
                            </div>
                        </div>


                        <br>
                        <br>

                        <input class="btn btn-danger" type="submit" value="Verify Loan Request" id="">
                        <br>


                    </div>
                </div>

            </form>


        </div>
    </div>


</div>
<br>
<br>


{% endblock %}