

{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block body %}

<br>
<div class="container custom-container">
    <div class="row">
        <div class="col-md-6">
            <h3>Processed Loans Report </h3>
            <br>

            <iframe title="Report Section" width="1800" height="800" align="left"
                    src="https://app.powerbi.com/view?r=eyJrIjoiN2I5NmFjMTgtYTk4MS00NDM2LTllY2UtZjViNGM2MGRiYTBlIiwidCI6IjI5NDYwNjgyLTUwNmQtNDcxNy05NmE3LTUxNDg1OGRjMjIyZCIsImMiOjh9"
                    frameborder="0"
                    allowFullScreen="true"></iframe>

        </div>
    </div>


</div>
<br>
<br>

{% endblock %}