



{% extends 'base.html' %}

{% block body %}

<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Loan Applications Report </h3>
            <br>

            <iframe title="Report Section" width="1500" height="750" align="left"
                    src="https://app.powerbi.com/view?r=eyJrIjoiNjMzNWY3NjgtOGU5Yy00NzU2LWIxZTMtZDkxMTcwNDE4YzBmIiwidCI6IjI5NDYwNjgyLTUwNmQtNDcxNy05NmE3LTUxNDg1OGRjMjIyZCIsImMiOjh9"
                    frameborder="0"
                    allowFullScreen="true"></iframe>

        </div>
    </div>


</div>
<br>
<br>

{% endblock %}